In [3]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
ca_dmv_peak_hours = "../Resources/2017_peak_hours_report_kdfactor.csv"

In [4]:
# Read the City and Ride Data
ca_dmv_peak_hours = pd.read_csv(ca_dmv_peak_hours)

# Display the data table for preview
ca_dmv_peak_hours.head()

,DI,RTE,CO,PRE,PM,CS,LEG,YR,AM_DIR,AM_WAY_PHV,...,AM_DAY,AM_MONTH,PM_DIR,PM_WAY_PHV,PM_K_FACTOR_AMT,PM_D_FACTOR_AMT,PM_KD_FACTOR,PM_HOUR,PM_DAY,PM_MONTH
0,12,1,ORA,NaN,22.500,623.0,O,17,S,2536,...,WED,NOV,N,"2,596",8.92,78.86,7.03,18,WED,FEB
1,12,1,ORA,NaN,30.141,937.0,A,16,N,14488,...,FRI,JUN,S,"3,012",7.82,75.49,5.90,19,WED,OCT
2,7,1,LA,NaN,18.090,7.0,A,15,N,1143,...,THU,OCT,S,"1,321",8.02,56.31,4.52,17,TUE,NOV
3,7,1,LA,NaN,27.100,425.0,O,17,N,4363,...,TUE,OCT,N,"3,980",7.66,62.80,4.81,17,TUE,JUN
4,7,1,LA,NaN,40.769,720.0,A,16,N,2106,...,MON,FEB,N,"2,742",9.64,58.20,5.61,17,TUE,JAN